.productsGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 40px;
}

@media (min-width: 768px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.productsGridHome {
  grid-template-columns: repeat(1, 1fr);
}

/* @media (min-width: 768px) {
  .productsGridHome {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .productsGridHome {
    grid-template-columns: repeat(3, 1fr);
  }
} */
