.feedbackContainer {
  margin: 20px auto;
  background: #fcfeff;
  border-radius: 32px;
  padding: 17px;
  position: relative;
  font-family: 'Nunito', sans-serif;
}

.title {
  font-family: 'Bowlby One', sans-serif;
  font-size: 36px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  color: #343a40;
  margin-bottom: 4px;
  padding: 0;
}

.highlight {
  color: #fe1468;
}

.description {
  font-size: 16px;
  line-height: 130%;
  color: #495057;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  color: #495057;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  margin: 8px 0;
}

.star {
  font-size: 36px;
  color: #e4e5e9;
  transition: color 0.2s;
}

.star.filled {
  color: #ffc107;
}

.ratingMessage {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 110%;
  color: #fe1468;
}

.textarea {
  width: 100%;
  padding: 16px;
  border-radius: 24px;
  background: #f0f5fa;
  font-size: 16px;
  line-height: 130%;
  font-family: 'Nunito', sans-serif;
  color: #adb5bd;
  border: none;
  resize: none;
  box-shadow: 0px -0.09px 14.17px -273px rgba(6, 22, 34, 0.06),
    -0.52px 15.24px 83.33px -273px rgba(6, 22, 34, 0.02);
  margin-bottom: 8px;
}

.textarea::placeholder {
  color: #adb5bd;
}

.error {
  color: red;
  font-size: 14px;
}

.submitBtn {
  background: #fe1468;
  color: #fcfeff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  border: none;
  border-radius: 24px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background 0.2s;
}

.submitBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.thankYouMessage {
  max-width: 500px;
  margin: 0 auto;
  background: #fcfeff;
  border-radius: 32px;
  padding: 17px;

  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thankYouMessage h2 {
  display: block;
  font-family: 'Bowlby One', sans-serif;
  font-size: 36px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  color: #343a40;
  margin-bottom: 16px;
  text-align: center;
}

.feedbackImgWrapper {
  max-width: 339px;
  margin: 0 auto;
}

.feedbackImg {
}
