.catalogContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr); /* мобильные */
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* планшет */
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); /* десктоп */
  }
}
