.section {
  border-radius: 18px;
  background-color: #fcfeff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 32px;
}

.section h2 {
  font-weight: 700;
  font-size: 32px;
}

.priceRating {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.priceRating_left {
  width: 100%;
}

.priceRating_left h4 {
  color: #12da6e;
  font-size: 18px;
}

.priceRating_left p {
  font-size: 40px;
}

.priceRating_left p span {
  color: #ced4da;
  font-size: 16px;
  text-decoration: line-through;
}

.priceRating_right {
  width: 100%;
}

.priceRating_right__block {
  display: flex;
  gap: 1px;
}

.priceRating_right__info h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.priceRating_right__info p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.priceRating_right__info p:first-of-type {
  color: #fe1468;
}

.priceRating_right__info p:nth-last-of-type(2) {
  color: #868e96;
}

.priceRating_right__button {
  width: 100%;
}

.priceRating_right__button button {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background-color: #ffdbe8;
  border: none;
  transition: background-color 0.3s linear;
}

.priceRating_right__button button:hover {
  background-color: #fab2cd;
}

.priceRating_right__button button:active {
  background-color: #fb9abe;
}

.priceRating_right span {
  font-size: 12px;
  color: #bf0f4e;
}

.toggle {
  height: 150px;
}

.toggle__head {
  background-color: #f0f5fa;
  border-radius: 24px;
  height: 50px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.toggle__head .line_bottom {
  margin-top: -2px;
  width: 100%;
  height: 2px;
  background-color: #ced4da;
}

.toggle__head .line_bottom_top {
  right: 0;
  width: 50%;
  height: 4px;
  background-color: red;
  z-index: 1;
  transition: transform 0.3s ease;
}

.toggle__head .transformed {
  transform: translateX(100%);
}

.toggle__head_title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  z-index: 1;
}

.toggle__head_title label:last-of-type {
  margin-right: 10px;
}

.toggle__head_title .radio-label {
  position: relative;
  margin-right: 20px;
  padding-bottom: 5px;
  cursor: pointer;
}

.toggle__head_title .radio-label.active::after {
  opacity: 1;
}

.toggle__head_title input {
  visibility: hidden;
  opacity: 0;
}

.section_size {
  padding: 0 10px;
}

.section_size__size {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.section_size__size label {
  width: 100px;
  height: 40px;
  border-radius: 18px;
  background-color: #e9edf2;
  font-size: 16px;
  padding: 8px 16px;
  position: relative;
  transition: background-color 0.3s ease;
}

.section_size__size label input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.section_size__size .size_checked {
  background-color: #ffdbe8;
}

.section_size__type {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.section_size__type label {
  width: 100px;
  height: 40px;
  border-radius: 18px;
  background-color: #e9edf2;
  font-size: 16px;
  padding: 8px 16px;
  position: relative;
  transition: background-color 0.3s ease;
}

.section_size__type label input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.section_size__type .bottleType_checked {
  background-color: #ffdbe8;
}

.section_size__count {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 10px;
}

.section_size__count__count {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
}

.section_size__count__count button {
  border-radius: 18px;
  border: 1px solid #fe1468;
  width: 48px;
  height: 48px;
  text-align: center;
  background-color: transparent;
}

.section_size__count__count span {
  display: block;
  text-align: center;
  width: 40px;
}

.section_size__count__count .dissable {
  border: 1px solid #ced4da;
}

.section_size__count__button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.section_size__count__button button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 24px;
  background-color: #fe1468;
  border: none;
  padding: 14px 16px;
}

.section_size__count__button button img {
  width: 24px;
  height: 24px;
}
