.footer {
  background: #fcfeff;
  border-radius: 32px 32px 0 0;
  padding: 24px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  box-shadow: 0px 0px 16px 0px rgba(21, 41, 62, 0.06);
  max-width: 700px;
  margin: 0 auto; /* temp */
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.catalogButton {
  background: #ffdbe8;
  border-radius: 24px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
  /* max-width: 344px;
  margin: 0 auto; */
}

.catalogButton:hover {
  background: #ffc7db;
}

.catalogButtonLabel {
  color: #fe1468;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.footerNavSection {
  display: flex;
  gap: 16px;
  width: 100%;
}

.footerLogo {
  width: 106px;
  height: 106px;
  flex-shrink: 0;
}

.footerLogoImg {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  align-items: flex-end;
}

.footerLink {
  color: #495057;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  /* max-width: 344px; */
}

.footerRights {
  color: #868e96;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 130%;
}

.footerPrivacy {
  color: #495057;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
}

.footerPrivacy:hover {
  text-decoration: underline;
}
