/* MainSlider.module.css */
.mainSliderBack {
  height: 343px;
  position: relative;
  background-color: #f0f5fa;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}
.mainSliderBack :global(.slick-slide) img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
  width: auto;
  object-fit: contain;
}

.mainSliderBack :global(.slick-slide) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 311px;
}
.sale {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  transform: rotate(-45deg) translate(-70px);
  z-index: 3;
}
